
body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1 {
    font-size: 2em;
  }


.is-tmobile {
    background-color:  #E20074 !important;
}



/* logs css*/
#log-content {
  display: none;
}